*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: lightgreen;
}

#main{
    background: white;
    width: 235px;
    margin: auto;

    padding: 20px;

    border-radius: 10px;
}

#entry{
    height: 25px;
    border: none;
    border-bottom: 1px solid black;
}

#entry:focus{
    outline: none;
    border-bottom: 1.5px solid black;
}

#check{
    height: 30px;
    width: 60px;
    background-color: aqua;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
}

#check:hover{
    cursor: pointer;
    background-color: #00c5c5;
}

#result{
    width: 230px;
    background: #ffff8e;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}

#result p{
    font-size: 14px;
    padding: 10px 0;
}