<!DOCTYPE html>
<html>
<head>
    <title>Palindrome Checker</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
</head>
<body>
    <div id="main">
        <h3>Is it a Palindrome?</h3>
        <input type="text" id="entry" placeholder="Enter a word">

        <button 
        id="check"
        onclick="checkPalindrome()">
            Check
        </button>

        <div id="result">
            <p>Check if a string is a palindrome!</p>
        </div>
        
    </div>
</body>
</html>